*{
    margin:0;
    padding: 0;
    box-sizing: border-box

}

body
{
    width: 100%;
    height: 100%;
    background-image: url(optimalback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header
{
    display:flex;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    width: 100%;
}

.nav-list
{
	display: flex;
}

.nav-list li
{
	list-style-type: none;
}

li a
{
   justify-content: space-between;
   align-items: center;
   text-decoration: none; 
   color: rgb(0,0,0);
   margin: 0px 5px;
}

.logo
{
    max-height: 5%;
    max-width: 5%;
    animation-name: kekko;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

//header a
{
   align-items: end;
   text-decoration: none; 
   color: rgb(0,0,0);
   margin: 0px 5px;
}

.vuoto
{
    height: 400px;
}

.vuotocorto
{
    height: 100px;
}

.prova
{
	display: flex;
	justify-content: center;
	font-size: 30px;
	color: rgb(255, 255, 255);
	text-align: center;
}

.prova1
{
	font-size: 30px;
	color: rgb(255, 255, 255);
	text-align: center;
}

.prima
{
    animation-name: anim1;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.foto
{
	display:flex;
    justify-content: space-between;
}

@keyframes anim1 {
    0%
    {
        color: rgb(255,0,0);
    }
    18%
    {
        color: rgb(255, 165, 0)
    }
    
    36%
    {
        color: rgb(255, 255, 0)
    }
    
    54%
    {
        color: rgb(0,255,0);
    }
    
    72%
    {
        color: rgb(0,0,255);
    }
    
    90%
    {
        color: rgb(128, 0, 128)
    }
    
    100%
    {
        color: rgb(75, 0, 130)
    }
}

@keyframes kekko {
    0%
    {
        background: rgb(255,0,0);
    }
    18%
    {
        background: rgb(255, 165, 0)
    }
    
    36%
    {
        background: rgb(255, 255, 0)
    }
    
    54%
    {
        background: rgb(0,255,0);
    }
    
    72%
    {
        background: rgb(0,0,255);
    }
    
    90%
    {
        background: rgb(128, 0, 128)
    }
    
    100%
    {
        background: rgb(75, 0, 130)
    }
   
}

.center_slider
{
	display:flex !important;
	align-items: center;
}

.slick-prev {
	left: 15px;
}
.slick-prev::before {
	color: grey;
}

.slick-next {
	right: 15px;
}
.slick-next::before {
	color: grey;
}

@media (min-width: 320px) and (max-width: 700px)
{

	.main-nav
	{
		position: absolute;
		top: 0;
		right: 0;
		width: 50vw;
		height: 100vh;
		background: rgb(0, 0, 0);
		border: 1px solid #fff;
		padding: 20px 10px;
		transform: translateX(100%);
	}
	
	.nav-list
	{
		flex-direction: column;
		text-align: right;
	}
	
	.burger-menu.active 
	{
		z-index: 10;
		transform: translateX(-40vw);
    }

    .burger-menu.active::before 
	{
		transform: rotate(45deg);
		top: 9px;
    }
    .burger-menu.active::after
	{
		transform: rotate(-45deg);
		bottom: 9px;
    }

    .burger-menu.active span 
	{
		transform: scale(0);
    }

    .main-nav.active 
	{
		transform: translate(0);
    }
}